@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-optical-sizing: auto;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}
